<header class="app-header">
  <mat-toolbar class="header-toolbar">
    <div class="header-content">
      <div class="header-left">
        <a routerLink="/" class="app-title">
          <mat-icon>school</mat-icon>
          <span>SOLID Principles Tutorial</span>
        </a>
      </div>
      <div class="header-right">
        <a href="https://github.com/rulecms/learn_solid-principles-in-angular" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="github-button"
           mat-raised-button>
          <mat-icon>star</mat-icon>
          <span>Star on GitHub</span>
        </a>
      </div>
    </div>
  </mat-toolbar>
</header>
