.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 64px; // Add padding for fixed header
  padding-bottom: 60px; // Add padding to account for fixed footer height
}
